{% comment %}
  Renders strings as a tag

  Accepts:
  - text: {String} text to render

  Usage:
  {% render 'tag-custom', text: string %}
{% endcomment %}

<div class="custom-tag">
  {{ text }}
</div>
