.quantity__button .icon-minus path,
.quantity__button .icon-plus path {
  fill: gray;
}

.custom-card {
  background-color: white !important;
  border-radius: 16px;
  box-shadow: var(--shadow-1);
  flex-grow: 0;
}

.custom-product__wrapper {
  gap: 10px !important;
  align-items: flex-start !important;
}

.product__media,
.product-media-container {
  border-radius: 12px;
}

.custom-product__info-wrapper {
  max-width: 100% !important;
  width: 100% !important;
  padding-bottom: 2em;
}

.block__title {
  text-transform: uppercase;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

/* Metafield Styles */

.custom__metafields--wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  justify-items: stretch;
}

@media screen and (min-width: 750px) {
  .custom__metafields--wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

/* Tag Styles */

.tag__wrapper {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 20px;
}
