.quantity__button .icon-minus path,
.quantity__button .icon-plus path {
  fill: gray;
}

.custom-card {
  background-color: white !important;
  border-radius: 16px;
  box-shadow: var(--shadow-1);
  flex-grow: 0;
}

.custom-product__wrapper {
  gap: 10px !important;
  align-items: flex-start !important;
}

.product__media,
.product-media-container {
  border-radius: 12px;
}

.custom-product__info-wrapper {
  max-width: 100% !important;
  width: 100% !important;
  padding-bottom: 2em;
}

.block__title {
  text-transform: uppercase;
  border-bottom: 1px solid rgb(var(--color-background));
  padding-bottom: 10px;
}

/* Metafield Styles */

.custom__metafields--wrapper {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
}

.custom__metafields--item {
  display: flex;
}

.custom__metafields--item > * {
  border: 1px solid rgb(var(--color-background));
  padding: 8px;
}

.custom__metafields--item > p:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: rgb(var(--color-background));
  color: #6c6b6a;
  text-transform: capitalize;
  flex-shrink: 0;
  min-width: 65px;
}

.custom__metafields--item > p:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: bolder;
  flex-grow: 1;
}
