.cart__banner {
  margin-top: 2rem;
  background-color: white;
  border: 1px solid transparent;
  padding-left: 10rem;
  padding-right: 10rem;
}

.custom__title--primary {
  font-weight: bolder;
  font-size: 2em;
}

.custom__cart__items {
  background-color: white;
  padding: 2rem;
}

.cart__banner--items {
  margin-top: 0px;
}

.cart__banner--link,
.cart__banner--link:visited,
.cart__banner--link:focus {
  color: rgb(var(--color-base-accent-1)) !important;
  text-decoration: none;
}

.custom__cart__checkout-button {
  text-transform: uppercase;
}

.custom__cart__footer {
  padding-top: 0px;
}

.cart__footer--subtitle {
  color: #363535;
  font-weight: bold;
}

.cart__footer--card {
  padding: 1rem 2rem 1rem 2rem !important;
  flex-grow: 0;
}

.custom__totals {
  align-items: center !important;
}

.custom__totals > * {
  flex-grow: 1;
}

.custom__totals > *:first-child {
  vertical-align: middle;
}

.custom__totals > *:last-child {
  text-align: right;
}
